.sign-in {
  
  .sign-in__body {
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
  }
  
  .sign-in_link {
    color: darkcyan;
  }

  .sign-in__bottom {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-top: 50px;
    align-items: center;
  }
}